#==============================================================================#
# This file specifies intentionally untracked files that git should ignore.
#==============================================================================#

#==============================================================================#
# IDE files
#==============================================================================#
.vs
.vscode
.vscode-server
.idea
*.iml
out
gen

#==============================================================================#
# build files
#==============================================================================#
build
.build_debug/*
.build_release/*
distribute/*
*.testbin
*.bin
cmake_build
.cmake_build
cmake-build-*

#==============================================================================#
# user files
#==============================================================================#
.DS_Store
.DS_Store?
**/.DS_Store

#==============================================================================#
# 不需要上传至仓库的文件继续在此文件末尾添加
#==============================================================================#


